/**STYLES FOR THE FIRST PAGE**/
body{
    background-color: rgb(226, 226, 235);
}


html, body, .main{
    height: 100%;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.breadcrumb{
    background-color: #e2e2eb;
    font-size:large;
    padding-left:0;
    padding-bottom:0;
}

.btn-link{
    padding: 0;
    color: black;
}

.session{
position: relative;
display: flex;
justify-content: center;
align-content: center;
}

.login{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Audiowide';
    src: url(Audiowide-Regular.ttf);
 }
.main-center h1, .main-center p{
    text-align: center;
}
.main-center h1{
font-family: 'Audiowide', cursive;
font-weight: 900;
font-size: 2.75rem;
color:#096b71;
}


.main-input{
    width: 18.75rem;
}
.main-buttom{
    margin-top: auto;
}

.inputError, .inputError:focus {
    border-color: #e3342f;
    box-shadow: 0px 0px 3px 0px #e3342f;
   }

/**STLYLES FOR THE SETUP.BLADE FILE*/

.my-ultra-weight{
    font-weight: 600;
}

/** END FOR SETUP.BLADE FILE*/

/**
MEDIA QUERIES FOR THE FIRST PAGE
**/

@media screen and (max-width:767px){
    .login{
        flex-direction: column;
    }
/*
    .main{
    flex-direction: column;
    padding-top: 20%;
}
***/
}
@media screen and (min-width:768px) {
   
   .main-formgroup{
        margin-left: 20px;
    }
    /* 
    .main-buttom{
    position: absolute;
    bottom: 0;
    }***/
}